*{
  padding: 0;
  margin: 0;
}
.head{
  background: #08d9d6;
  color: #252a34;
  margin: 10px 0;
  padding: 10px 10px 5px 10px;
}
label{
  display: block;
  width: 100%;
}
input{
  width: 100%;
  padding: 5px;
}
button{
  padding: 2px 7px;
  font-size: 15px;
  margin: 2px;
}
.sq{
  border: 3px solid #eaeaea;
  position: relative;
  display: block;
  padding: 5px;
  margin: 5px 0;
}
.select-price{
  width: 100%;
  text-align: right;
}
.sq p{
  width: 100%;
}
.sq p span{
  float: right;
}
hr{
  margin: 5px 0 3px 0;
  background: #eaeaea;
}
p{
  margin: 2px;
  font-family: 'Source Sans Pro', sans-serif;
}
.total{
  float:right;
}
.total span, .price{
  font-weight: bolder;
  color: #ff2e63;
}
.total p{
  text-align: right;
}
h3{
  color: #08d9d6;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
}
h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
}
li{
  list-style: none;
  width: 100%;
}
